/*Stylesheet for Website*/
/*Copyright 2012 Michael Nguyen*/

body
{
	background: #000000; /*Black bg for extra space not covered by img*/
	font-family: sans-serif;
	margin: 0px; /*Stretch body all the way to edges*/
}

.wrap
{
	background: url(../images/background.jpg) no-repeat top fixed;
	width: 1024px; /*Min width for site*/
	margin: auto; /*Center across different resolutions*/
}

.content
{
	background: rgba(0,0,0,.5); /*Black content area*/
	width: 640px;
	margin: auto;
	border-radius: 10px;
	padding: 18px; /*18px on all sides before text starts*/
}

p.intro
{
	font-family: 'Gudea', sans-serif; /*Google Web Fonts in CSS*/
	font-size: 16px;
	text-shadow: 1px 1px #000000;
	color: #f0f0f0;
	-webkit-margin-before: 0em; /*Overwriting default padding of 1em*/
	-webkit-margin-after: 0em;
	text-align: left;



}

p.intro img
{
	padding: 5px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
			border-style: none;
						border: none;
}

p.download
{
	font-family: 'Gudea', sans-serif; /*Google Web Fonts in CSS*/
	font-size: 14px;
	text-shadow: 1px 1px #000000;
	color: #FF0000;
	-webkit-margin-before: 0em; /*Overwriting default padding of 1em*/
	-webkit-margin-after: 0em;
	text-align: center;



}

p.download img{

	padding-right: 0px;
	border-style: none;
	border: none;
}

a, a:visited, a:link, a:active{
	font-weight: bold;
	color: #00a6e4;
	text-decoration: none;

}



h1
{
	text-indent: -9999px; /*CSS text indent hack*/
	background: url(../images/logo2.png) no-repeat;
	height: 144px;
	width: 600px;
	margin: auto;
}

ul
{
	-webkit-padding-start: 0px;
	text-align: center;
}
#navlist li
{

	display: inline;
	list-style-type: none;	
}

.container
{
	height: 437px;
	width: 600px;
	margin: auto;
}


